<script setup lang="ts"></script>

<script>
export default {
  data() {
    return {
      colors: ["#F8F988", "#BAD7E9", "#46C2CB"],
      slides: ["วีดีโอเกม", "เพลง,ดนตรี", "การ์ตูน"],
    };
  },
};
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-table>
          <v-card class="mx-auto" max-width="1300" height="250" rounded="0">
            <v-img
              height="100%"
              cover
              src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/07/NormalView.jpg"
            >
              <v-avatar color="grey" size="200" rounded="100">
                <v-img
                  height="100%"
                  cover
                  src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=64160240"
                ></v-img>
              </v-avatar>
              <v-list-item
                class="text-white"
                title="Chaiwat Theawsuwan"
                subtitle="Computer Science"
              ></v-list-item>
            </v-img>
          </v-card>
        </v-table>
      </v-col>
    </v-row>

    <v-row>
      <v-banner
        lines="one"
        icon="mdi-wifi-strength-alert-outline"
        color="#FF7000"
      >
        <template v-slot:><h1>ประวัติการศึกษา</h1> </template>
      </v-banner>
    </v-row>

    <v-row>
      <v-timeline>
        <v-timeline-item dot-color="green-lighten-1" fill-dot>
          <v-card>
            <v-card-title class="bg-green-lighten-1">
              <v-icon
                class="mr-4"
                size="large"
                icon="mdi-phone-in-talk"
              ></v-icon>
              <h2 class="font-weight-light">ชั้นประถมศึกษา</h2>
            </v-card-title>

            <v-card class="mx-auto" max-width="750" height="200" rounded="0">
              <v-img
                cover
                src="http://www.readyfence.net/Files/blog_photo/37%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%88%E0%B8%B2%E0%B8%84%E0%B8%A3%E0%B8%B1%E0%B9%89%E0%B8%A7%E0%B8%A5%E0%B9%89%E0%B8%AD%E0%B8%A1%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99-706683274.jpg"
              ></v-img>
            </v-card>

            <v-card-text>
              จบชั้นประถมศึกษาปีที่ 6 จากโรงเรียนวัดสุนทริกาวาส ตั้งอยู่หมู่ที่
              6 ตำบลชำผักแพว อำเภอแก่งคอย จังหวัดสระบุรี. เดิมก่อตั้งเมื่อ
              พ.ศ.2483
            </v-card-text>
          </v-card>
        </v-timeline-item>

        <v-timeline-item dot-color="amber-lighten-1" fill-dot size="x-small">
          <v-card>
            <v-card-title class="bg-amber-lighten-1 justify-end">
              <h2 class="mr-4 font-weight-light">ชั้นมัธยมศึกษาตอนต้น</h2>
              <v-icon size="large" icon="mdi-home-outline"></v-icon>
            </v-card-title>

            <v-card class="mx-auto" max-width="800" height="200" rounded="0">
              <v-img
                cover
                src="https://s3-ap-southeast-1.amazonaws.com/builk3storage/project/20161004_021912_project_2004121_big.jpg"
              ></v-img>
            </v-card>

            <v-card-text>
              จบชั้นชั้นมัธยมศึกษาปีที่ 3 จากโรงเรียนแก่งคอย
              ตั้งอยู่บริเวณถนนสุดบรรทัด ตำบลแก่งคอย อำเภอแก่งคอย จังหวัดสระบุรี
              ก่อตั้งในปี พ.ศ. 2494
            </v-card-text>
          </v-card>
        </v-timeline-item>

        <v-timeline-item dot-color="cyan-lighten-1" fill-dot>
          <v-card>
            <v-card-title class="bg-cyan-lighten-1">
              <v-icon
                class="mr-4"
                size="large"
                icon="mdi-email-outline"
              ></v-icon>

              <h2 class="font-weight-light">ชั้นมัธยมศึกษาตอนปลาย</h2>
            </v-card-title>

            <v-card class="mx-auto" max-width="800" height="200" rounded="0">
              <v-img
                cover
                src="https://s3-ap-southeast-1.amazonaws.com/builk3storage/project/20161004_021912_project_2004121_big.jpg"
              ></v-img>
            </v-card>

            <v-card-text>
              จบชั้นชั้นมัธยมศึกษาตอนปีที่ 6 จากโรงเรียนแก่งคอย
              ตั้งอยู่บริเวณถนนสุดบรรทัด ตำบลแก่งคอย อำเภอแก่งคอย จังหวัดสระบุรี
              ก่อตั้งในปี พ.ศ. 2494
            </v-card-text>
          </v-card>
        </v-timeline-item>

        <v-timeline-item dot-color="red-lighten-1" fill-dot size="x-small">
          <v-card>
            <v-card-title class="bg-red-lighten-1 justify-end">
              <h2 class="mr-4 font-weight-light">การศึกษา ณ ปัจจุบัน</h2>
              <v-icon size="large" icon="mdi-account-multiple-outline"></v-icon>
            </v-card-title>

            <v-card class="mx-auto" max-width="800" height="200" rounded="0">
              <v-img
                cover
                src="https://sites.google.com/site/9mhalayrathbalthinareiyn/_/rsrc/1486175274059/mhawithyalay-burpha/slider4.jpg"
              ></v-img>
            </v-card>

            <v-card-text>
              ปัจจุบันเข้าศึกษาอยู่ที่ มหาวิทยาลัยบูรพา ถนนลงหาดบางแสน
              ตำบลแสนสุข อำเภอเมือง จังหวัดชลบุรี
            </v-card-text>
          </v-card>
        </v-timeline-item>
      </v-timeline>
    </v-row>

    <v-row>
      <v-banner
        lines="one"
        icon="mdi-wifi-strength-alert-outline"
        color="#FFBF00"
      >
        <template v-slot:><h1>สิ่งที่สนใจ</h1> </template>
      </v-banner>
    </v-row>

    <v-row>
      <v-carousel
        cycle
        height="400"
        hide-delimiter-background
        show-arrows="hover"
      >
        <v-carousel-item v-for="(slide, i) in slides" :key="i">
          <v-sheet :color="colors[i]" height="100%">
            <div class="d-flex fill-height justify-center align-center">
              <div class="text-h2">{{ slide }}</div>
            </div>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </v-row>
  </v-container>
</template>
